<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    
<form class="form" action="/about" method="post">
    <p class="form-title">Sign in to your account</p>
     <div class="input-container">
       <input type="email" name="email" placeholder="Enter email">
       <span>
       </span>
   </div>
   <div class="input-container">
    <input type="text" name="username" placeholder="Enter UserName">
    <span>
    </span>
</div>
<div class="input-container description">
    <input type="text" name="description" placeholder="Enter Description">
    <span>
    </span>
</div>
      <button type="submit" class="submit">
     Sign in
   </button>

   <p class="signup-link">
     No account?
     <a routerLink="/login">Sign In</a>
   </p>
</form>

  </body>
</html>